html{
    box-sizing: border-box;
    font-size: 60.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
.img-fondo{
    background-image: url(../imagenes/fondo.jpg);
}
img{
    width: 100%;
}
.velo-negro{
    background-color:rgba(0, 0, 0, 0.192);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: center;
}

.logo-img{
    max-width: 40rem;
    margin: 3rem 0;
}nav{
    margin: 3rem 0 8rem 0;
    background-color: rgba(106, 121, 247, 1);
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
a{
    text-decoration: none;
}
nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}
nav a:hover{
    color: black;
}
.nustros-productos{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.productos{
   display: grid;
   grid-template-columns: repeat(3,1fr);
  
}
.producto{
    background-color: rgba(255, 55, 55, 0.768);;
    margin: 2rem;
    padding: 2rem;
}

.producto-blanco{
    background-color: white;
    height: 40rem;
    object-fit: contain;
    padding: 1rem;
}
.producto-precio .producto-nombre{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.producto-precio{
    font-size: 2.5rem;
    font-weight: 500;
}
.producto-nombre{
    font-size: 3rem;
    font-weight: 800;
}

.footer{
    background-color: black;
    padding: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.comentarios{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
    margin-bottom: 20rem;
    
}   
.comentarios-texto{
       color: white;
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
 }
    
.comentarios-img{
        background-color: white;
        border-radius: 5%;
}
.bloques{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20rem;
}

.bloques img{
    width: 20rem;
    margin-bottom: 2rem;
    height: 20rem;
}
.bloque-titulo{
    margin:0;
}
.bloque{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
}
.bloque-titulo{
    color: red;
    font-size: 4rem;
    margin: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}

.enlace-footer:hover{
    padding-left: 1rem;
    padding-right: 1rem;
}
/*SECCION OFERTA */
#ofertas_semanales{
        
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}
#ofertas_semanales .titulo-seccion{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #aa193f ;
    text-decoration-thickness: 5px;

}
#ofertas_semanales .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#ofertas_semanales .fila .oferta{
    max-width: 300px;
    border: 2px solid rgb(90, 90, 90);
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
#ofertas_semanales .fila .oferta img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: 1s;
}
#ofertas_semanales .fila .oferta:hover img{
    filter: grayscale(0);
}
#ofertas_semanales .fila .oferta .info {
    position: absolute;
    left: 0;
    background-color: #aaaaaa;
    color: #aa193f;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: 1s;
}
#ofertas_semanales .fila .oferta:hover .info{
    opacity: 1;
    bottom: 0;
}
.rotates{
    -webkit-animation: rotate 5s normal linear infinite;
    animation: rotate 5s normal linear infinite;
    
 }
 @keyframes rotate{
    0%{
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1 0deg);
    }
    25%{
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1 90deg);
    }
    50%{
        -webkit-transform: rotate3d(0,0,1, 180deg);
        transform: rotate3d(0,0,1 180deg);
    }
    75%{
        -webkit-transform: rotate3d(0,0,1, 270deg);
        transform: rotate3d(0,0,1 270deg);
    }
    100%{
    -webkit-transform: rotate3d(0,0,1, 360deg);
    transform: rotate3d(0,0,1 360deg);
}

}
/* SECCION CONTACTO */
 
#contacto{
    padding: 100px 15px;
}
#contacto .titulo-seccion{
    margin-bottom: 20px;
}
#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}